<footer>
  <div class="footer-content left">

    <div class="logo">
      <img src="../../../assets/logo/Logo_IT.svg" alt="">
      <span>IMPULSO TRIBUTARIO</span>
    </div>


  </div>

  <div class="footer-content center">
    <div class="table">
        <div class="item-table">
          <span><b>Localización</b></span>
          <span>Bogota, Colombia</span>
        </div>

        <br>

        <div class="item-table">
          <span><b>Telefono</b></span>
          <span>+57 316-4526041</span>
        </div>

        <br>

        <div class="item-table">
          <span><b>Horario atención</b></span>
          <span>Lunes a Viernes: 9:00 - 18:00</span>
        </div>

        <br>

        <div class="item-table correo">
          <span><b>Correo de contacto</b></span>
          <span>impuestosmateuspardo@gmail.com</span>
        </div>

        <br>
    </div>
  </div>

  <div class="footer-content right">
    <img src="../../../assets/logo/Logo_IT_gray.svg" alt="">
  </div>
</footer>
