<div class="content-header">
  <video id="video-fondo"
    autoplay
    muted
    loop
    controls="false"
    preload="auto">
    <source src="../../../assets/fondos/header-fondo.mp4"
    type="video/mp4">
  </video>
  <app-nav></app-nav>

  <div class="content-header-center">
    <h1>
      Impulso Tributario
    </h1>

    <p>Lorem ipsum dolor sit amet consectetur.</p>

    <a class="btn-header-center" href="#"><span>BTN Lorem, ipsum dolor.</span></a>
  </div>

  <button class="play" (click)="Reproduccion()">
    <img *ngIf="playVideo" (click)="cambioPlay()" src="../../../assets/icon/pause.svg" alt="pause">
    <img *ngIf="!playVideo" (click)="cambioPlay()" src="../../../assets/icon/play.svg" alt="play">
  </button>

</div>
