@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  .first-info-main{
    padding: 60px 30px;
    @include flex-center;
    background: #E5D1B8;
    img{
      width: 200px;
      fill: #06515e;
    }
    span{
      @include flex-center;
      width: 70%;
      flex-direction: column;
      text-align: center;
      font-size: 30px;
      font-weight: 500;
      b{
        text-transform: uppercase;
        color: #06515e;
        font-size: 35px;
      }
    }

    .items-columns{
      display: flex;
      flex-direction: column;
      overflow-x: hidden;

      .items-tips{
        width: 100%;
        flex: 1;
        display: flex;
        padding: 10px;
        margin: 10px 0;
        .column{
          @include flex-center;
          flex: 1;
          width: 30%;
          display: flex;
          img{
            width: 50px;
          }
          span{
            text-align: center;
            font-size: 20px;
          }
        }

      }
    }
  }


}

// Estilos para pantallas de tamaño mediano (por ejemplo, tablets)
@media (min-width: 768px) and (max-width: 1000px) {

}

// Estilos para pantallas de tamaño pequeño (por ejemplo, teléfonos móviles)
@media (max-width: 900px) {
  .first-info-main{
    flex-direction: column;
    overflow-x: hidden !important;
    padding: 0 !important;
    box-sizing: border-box;
    img{
      width: 140px !important;
      margin: 10px 0;
    }
    span{
      width: 95% !important;
      display: flex;
      font-size: 18px !important;
      b{
        text-transform: uppercase;
        color: #06515e;
        font-size: 35px;
      }
    }

    .items-columns{
      overflow-x: hidden;
      margin: 2px 0 !important;
      .items-tips{
        width: 100%;
        flex: 1;
        display: flex;
        padding: 0px !important;
        margin: 2px 0 !important;

        .column{
          @include flex-center;
          flex: 1;
          width: 30%;
          img{
            width: 50px !important;
          }
          span{
            text-align: center;
            font-size: 15px !important;
          }
        }
      }
    }
  }
}
